{:kotoba.app/id "cloud.itonami.isic-4774", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigirerhiacuc2tutm4l6loosdvdiyj4g5kci3heqb7hj6fsxlf3qy", :kotoba.app/embed-url "ipfs://bafkreigirerhiacuc2tutm4l6loosdvdiyj4g5kci3heqb7hj6fsxlf3qy", :published {:archive "https://kotobase.net/ipfs/bafkreigirerhiacuc2tutm4l6loosdvdiyj4g5kci3heqb7hj6fsxlf3qy", :size 73068, :put-status 201, :get-status 200, :at "2026-08-15T13:34:26.496Z"}}
